.Note-actions {
  padding: 0px 1.2em 32px 1.2em;
  background-color: var(--main-dark-color);
  text-align: center;
}

.Note-actions button {
 margin: 0px 8px;
}

@media (max-width: 700px) {
  .Note-actions button {
    margin: 0px;
  }
}