.NoteList .message{
  color: black;
  font-size: .8em;
}

.List-block {
  padding: 0;
  list-style: none;
  color: var(--main-dark-color);
  border-radius: 4px;
  background-color: var(--soft-dark-color);
}

.List-block__item--wrapper {
  padding: 2px 4px;
}

.List-block__item--wrapper:first-child {
  padding-top: 4px;
}

.List-block__item--wrapper:last-child {
  padding-bottom: 4px;
}